<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HtmlAgilityPack" version="1.6.6" targetFramework="net451" />
  <package id="IGDB.API" version="1.0.8" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.1" targetFramework="net451" />
  <package id="NLog" version="4.4.12" targetFramework="net451" />
  <package id="NLog.Config" version="4.4.12" targetFramework="net451" />
  <package id="NLog.Schema" version="4.4.12" targetFramework="net451" />
  <package id="NLog.Windows.Forms" version="4.2.3" targetFramework="net46" />
  <package id="TaskScheduler" version="2.7.2" targetFramework="net46" />
</packages>