NVidia_Surround_Assitant_GUI/obj/
bin/x86/cfg/
bin/x64/logs/
bin/x64/cfg/
bin/x64/de/
bin/x64/es/Microsoft.Win32.TaskScheduler.resources.dll
bin/x64/fr/
bin/x64/it/
bin/x64/zh-CN/
*.pdb
.vs/
bin/x86/Display_Manger.dll.metagen
bin/x64/stdole.dll
bin/x64/System.Data.SQLite.dll.config
bin/x64/NLog.xml
bin/x64/NLog.Windows.Forms.xml
bin/x64/Microsoft.Win32.TaskScheduler.xml
bin/x64/Microsoft.VisualStudio.TextManager.Interop.dll
bin/x64/Microsoft.VisualStudio.Shell.Interop.dll
bin/x64/Microsoft.VisualStudio.OLE.Interop.dll
bin/x64/EnvDTE.dll
bin/x64/EntityFramework.dll
bin/x64/Display_Manger.dll.metagen
bin/x86/Microsoft.VisualStudio.OLE.Interop.dll
bin/x86/EnvDTE.dll
bin/x86/EntityFramework.dll
bin/x86/SQLite.Designer.dll
bin/x86/Microsoft.VisualStudio.TextManager.Interop.dll
bin/x86/Microsoft.VisualStudio.Shell.Interop.dll
bin/x64/SQLite.Designer.dll
bin/x86/stdole.dll
bin/x86/System.Data.SQLite.dll.config
bin/x64/Newtonsoft.Json.xml
bin/x64/NVidia Surround Assistant.exe.config
*.config
bin/x64/db/nvsa_db.sqlite
NVSA_Setup_x64/Release/
NVSA_Setup_x86/Release/
Setup/setup.exe
